<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-full sm:mx-auto w-3/4">
        <div
            class="absolute inset-0 bg-gradient-to-r from-cyan-400 to-light-blue-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
        </div>
        <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
            <div class="w-full mx-auto">
                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <a routerLink="/home" class="mb-4 text-cyan-500 hover:text-cyan-700 mr-4">
                            <i class="fas fa-arrow-left text-lg"></i>
                        </a>
                        <h1 class="text-2xl font-semibold ">Track Your Budget</h1>
                    </div>

                    <p class="text-2xl font-bold text-gray-700">
                        <span class="text-green-500" [ngClass]="{'text-red-500': budget!.amount < 0}">
                            {{ budget!.amount | currency:'EGP' }}
                        </span>
                    </p>

                </div>
                <div class="divide-y divide-gray-200">
                    <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                        <div class="flex space-x-4">
                            <div class="w-1/2">
                                <app-add (newItemEvent)="incomeExpenseList.addItem($event)"></app-add>
                            </div>
                            <div class="w-1/2">
                                <app-income-expense-list #incomeExpenseList></app-income-expense-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>